<!-- templates/userapp/new_user_navbar.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'userapp:NewUserPage' %}">UserApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'userapp:NewUserPage' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Events List
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Webinars</a></li>
                    <li><a class="dropdown-item" href="#">Livestream</a></li>
                    <li><a class="dropdown-item" href="#">Hackathons</a></li>
                    <li><a class="dropdown-item" href="#">Virtual conference</a></li>
                    <li><a class="dropdown-item" href="#">Networking Events</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'userapp:UserLogout' %}">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'userapp:add_event' %}">Add Event</a>
            </li>
             <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'userapp:event_list' %}"> Your Events</a>
            </li>
        </ul>
    </div>
</nav>
